body {
    display: flex;  
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #121119;
    margin-top: 10vh;
    color: white;
}

.home {
    background-color: #1870f4;
    border: 0px;
    color: white;
    font-weight: bold;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.1s;

    position: absolute;
    top: 0;
    left: 0; 
    margin: 10px 10px 10px 10px;
}

.home:hover{
    background-color: #1e66d2;
    transform: scale(1.025);
}

.button {
    background-color: #1870f4;
    border: 0px;
    color: white;
    font-weight: bold;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    width: auto;
    transition: transform 0.1s, background-color 0.1s;
}

.button:hover{
    background-color: #1e66d2;
    transform: scale(1.025);
} 

.inputfield{
    width: 240px;
    box-sizing: border-box;
    border: 1px solid rgb(255,255,255);
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    color: white;
    height: 32px;
    background-color: rgb(30, 26, 41);
}

.fields{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.descriptionBox{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#descriptionLength {
    justify-content: center; 
    align-items: center;
    display: none;
}

.uploadImage{
    background-color: hsl(248 19 18);
    height: 135px;
    width: 240px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload:hover{
    cursor: pointer;
    opacity: 80%;
}

.uploadImage:hover{
    cursor: pointer;
}