<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/create.css') }}">
    <script src="{{url_for('static', filename='scripts/warning.js')}}"></script>
</head>

<body>
    <h1>Create a new account</h1>
    <div>
      <form method="POST" id="userForm" action="/signup">
        <div class="field">
          <label for="username">Username</label>
          <input type="text" class="inputfield" id="username" name="username" required>
        </div>
        <div class="field">
          <label for="pwd">Password</label>
          <input type="password" class="inputfield" id="pwd" name="pwd" required>
        </div>
        
        <div class="button-container">
          <button class="button" id="submitButton" type="submit">Create Account</button>
        </div>
        
    </form>
    </div>
    

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>

<script src="{{url_for('static', filename='scripts/create.js')}}"></script>