<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/favorites.css') }}">
</head>

<body>
    <h1>{{ user + "'" if user.endswith('s') else user + "'s" }} Favorites</h1>

    {% for favoriteUser in users %}
    <form action="/{{ favoriteUser }}" method="get">
        <button class="button" type="submit">{{ favoriteUser }}</button>
    </form>
    {% endfor %}
</body>