<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/favorites.css') }}">
</head>

<body>

    <a href="/" class="button home">Home</a>

    <h1>{{ user + "'" if user.endswith('s') else user + "'s" }} Favorites</h1>

    <div class="users">
        {% for user in users %}
        <div class="user">
            <a href="/user/{{user}}" class="button">
                <img src="/pfp/{{user}}.avif" width="48" height="auto"/>
                {{user}}
            </a>
        </div>
        {% endfor %}
    </div>

</body>