
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>


<body>
    <div class="buttons">

        {% if user == None %}
            <form action="/login" method="get">
                <button class="button" type="submit">Login</button>
                </form>

            <form action="/signup" method="get">
                <button class="button" type="submit">Create Account</button>
                </form>
        {% else %}
            <form action="/logout" method="get">
                <button class="button" type="submit">Log Out</button>
            </form>

            <form action="/{{user}}" method="get">
                <button class="button" type="submit">My Posts</button>
            </form>

            <form action="/{{user}}/favorites" method="get">
                <button class="button" type="submit">Favorited Users</button>
            </form>
        {% endif %}
    </div>
</body>


</html>