
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/indexLoggedIn.css') }}">
</head>


<body>
    <div class="buttons">
        <form action="/logout" method="get">
            <button class="button" type="submit">Log Out</button>
            </form>

        <form action="/{{user}}" method="get">
            <button class="button" type="submit">My Posts</button>
        </form>

        <form action="/{{user}}/favorites" method="get">
            <button class="button" type="submit">Favorited Users</button>
        </form>

      </div>

</body>


</html>