
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>


<body>
    <div class="buttons">
        {% if user == None %}
            <a href="/login" class="button">Login</a>
            <a href="/signup" class="button">Create Account</a>
        {% else %}
            <a href="/search" class="button">Search</a>

            <a href="/user/{{user}}" class="button">My Posts</a>

            <a href="/messages" class="button">DMs</a>

            <a href="/favorites" class="button">Favorited Users</a>

            <a href="/settings" class="button">Account Settings</a>

            <a href="/logout" class="button">Log Out</a>
        {% endif %}
    </div>
</body>


</html>