<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/page.css') }}">
</head>

<body>
    <a href="/" class="home">Home</a>

    <h1><img src="/pfp/{{user}}.avif" width="32" height="auto"/>{{ user + "'" if user.endswith('s') else user + "'s" }} Posts</h1>

    {% if user == loggedInUser %}
    <a href="/upload" class="button">Create New Post</a>
    {% endif %}

    {% if user != loggedInUser %}
    <div class="button-container">
        <a href="/messages/{{user}}" class="button">
            <img src="/static/icons/google_message.svg" height="24"/> Message
        </a>
        <form method="POST" action="/user/{{user}}">
            <input type="hidden" id="csrf" name="csrf" value="{{session.csrf}}">
            <button class="star-icon" type="submit">
                <div class="stars">
                    <img src="/static/icons/google_star_filledin.svg" class="star {{ "" if favorited else "inactive" }}" height="32"/>
                    <img src="/static/icons/google_star.svg" class="star {{ "inactive" if favorited else "active" }}" height="32"/>
                </div>
            </button>

        </form>
    </div>
    

    {% endif %}
        <div class="posts">
            {% for postId in post_ids|reverse %}
                <a href="/user/{{ user }}/post/{{ postId }}" class="post">
                    <img src="/thumb/{{postId}}.avif" alt="" width="192" height=auto>
                </a>
            {% endfor %}
        </div>
</body>