<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/post.css') }}">
</head>

<body>
    <img src="/post{{postId}}.avif" width="500" height="auto"/>
    {{ description }}
    {% if user == loggedInUser %}
    <form method="POST" action="/{{user}}/post/{{postId}}">
        <button type="submit">Delete Post</button>
    </form>
    {% endif %}
</body>