<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/settings.css') }}">
</head>

<body>
    <a href="/" class="home">Home</a>

    <form method="POST" class="fields" action="/settings" enctype=multipart/form-data>
        <div>
            Profile Picture 
            <label id="fileLabel" for="file" hidden>
              <div class="uploadImage" id="uploadImage">
                <img src="/pfp/{{username}}.avif" class="upload" id="imagePreview" height="96" width="auto">
              </div>
            </label>
            <input type="file" id="file" name="file">
        </div>

    
        <div class="field">
            <label for="username">Username</label>
            <input class="inputfield" type="text" id="username" name="username" value="{{username}}">
        </div>
        <input type="hidden" id="csrf" name="csrf" value="{{session.csrf}}">
        <button class="button" type="submit">Save Changes</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>


<script src="{{url_for('static', filename='scripts/settings.js')}}"></script>