<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/upload.css') }}">
</head>

<body>

    <a href="/" class="home">Home</a>

    <form method="POST" class="fields" action="/upload" enctype=multipart/form-data>

        <div>
          <label for="file">Image</label>
          <input type="file" id="file" name="file" required hidden>
          
          <div class="uploadImage">
            <img src="/static/google_add_photo.svg" class="upload" id="imagePreview" height="64" width="auto">
          </div>
        </div>
        

        <div>
          <label for="description">Description</label><br>
          <input type="text" class="inputfield" id="description" name="description" required>
        </div>
        
        <input type="hidden" id="csrf" name="csrf" value="{{session.csrf}}">

        <button class="button" type="submit">Upload</button>
    </form>

    File Guidelines
    
    Resolution: below 8192x8192
    
    Format: can be anything that FFmpeg supports, but stick with JPEG, PNG, WEBP or JPEG-XL to be safe

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

</body>

