<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/upload.css') }}">
</head>

<body>

    <a href="/" class="home">Home</a>

    <form method="POST" class="fields" action="/upload" enctype=multipart/form-data>

        <div>
          Image
          <label for="file">
            <div class="uploadImage" id="uploadImage">
              <img src="/static/google_add_photo.svg" class="upload" id="imagePreview" height="64" width="auto">
            </div>
          </label>
          <input type="file" id="file" name="file" required hidden>
          
          
        </div>

        <div>
          <label for="description">Description</label><br>
          <input type="text" class="inputfield" id="description" name="description" required>
        </div>
        
        <input type="hidden" id="csrf" name="csrf" value="{{session.csrf}}">

        <button class="button" type="submit">Upload</button>
    </form>

    File Guidelines
    
    Resolution: below 8192x8192
    
    Format: can be anything that FFmpeg supports, but stick with JPEG, PNG, WEBP or JPEG-XL to be safe

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

</body>

<script>
  const preview = document.getElementById('imagePreview');
  const container = document.getElementById("uploadImage");
  let image = new Image();
  document.getElementById('file').addEventListener('change', function(event) {
  const file = event.target.files[0];
  
  
  if (file) {
      const reader = new FileReader(); 
      reader.onload = function(e) {
          image.src = e.target.result;
          preview.src = e.target.result;
          image.onload = function(){  
            const w = 70;
            const h = 45;
            const viewportAspectRatio = w / h;
            const imageAspectRatio = image.width / image.height;

            let width = `${w}vh`;
            let height = `${h}vh`;
            

            if(imageAspectRatio <= viewportAspectRatio){
              width = `${h * imageAspectRatio}vh`;
            }
            else{
              height = `${w / imageAspectRatio}vh`;
            }
            container.style.height = height;
            container.style.width = width;
            preview.style.height = height;
            preview.style.width = width;
          };
      };
      reader.readAsDataURL(file);
  }
});
</script>